@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: leg;
    src: url(../../assets/legendum/verdana-font-family/verdana.ttf);
    /* ./assets/legendum/verdana-font-family/verdana.ttf */
}

body {
    font-family: leg;
}